service: sls-apps-smartling

frameworkVersion: '>=3.0.0'

plugins:
  - serverless-domain-manager
  - serverless-express
  - serverless-prune-plugin

custom:
  myStage: ${opt:stage, self:provider.stage}
  customDomain:
    domainName: ${file(./config/serverless-env.${opt:stage, 'dev'}.yml):domainName}
    stage: ${opt:stage, 'dev'}
    createRoute53Record: true
    endpointType: 'edge'
    securityPolicy: tls_1_2
  prune:
    automatic: true
    number: 3

provider:
  name: aws
  runtime: nodejs22.x
  stage: ${opt:stage, 'test'}
  region: 'us-east-1'
  deploymentBucket:
    name: cf-apps-serverless-deployment
  deploymentPrefix: sls-apps-smartling

package:
  patterns:
    - 'built/**'
    - '!.git/**'
    - '!**/*.ts'
    - '!node_modules/@carrotfertility/contentful-smartling-frontend/node_modules/**'

functions:
  app:
    environment:
      CLIENT_ID: ${file(./config/serverless-env.${opt:stage, 'dev'}.yml):CLIENT_ID}
      CLIENT_SECRET: ${file(./config/serverless-env.${opt:stage, 'dev'}.yml):CLIENT_SECRET}
      DEPLOY_TIME_UNIX: ${env:DEPLOY_TIME_UNIX}
    handler: built/index.api
    events:
      - http:
          path: /
          method: GET
          private: false
      - http:
          path: /{proxy+}
          method: ANY
          private: false
