# team marketplace owns all code in this repository by default

* @contentful/team-marketplace

# team tundra co-owns examples and function examples

examples @contentful/team-extensibility @contentful/team-marketplace
function-examples @contentful/team-extensibility

# team fusion co-owns delivery function examples

examples/function-mock-shop @contentful/team-fusion
examples/function-potterdb @contentful/team-fusion
examples/function-potterdb-rest-api @contentful/team-fusion
examples/native-external-references-mockshop @contentful/team-fusion
examples/native-external-references-tmdb @contentful/team-fusion
function-examples/external-references @contentful/team-fusion

# package.json and package-lock.json should be unowned so that dependabot can automatically update dependencies

**/package.json
**/package-lock.json
