# team marketplace owns all code in this repository by default

* @contentful/team-marketplace

# team tundra co-owns examples and function examples

examples @contentful/team-extensibility @contentful/team-marketplace
function-examples @contentful/team-extensibility

# team entity-architecture co-owns delivery function examples

examples/function-mock-shop @contentful/team-entity-architecture
examples/function-potterdb @contentful/team-entity-architecture
examples/function-potterdb-rest-api @contentful/team-entity-architecture
examples/native-external-references-mockshop @contentful/team-entity-architecture
examples/native-external-references-tmdb @contentful/team-entity-architecture
function-examples/external-references @contentful/team-entity-architecture

# package.json and package-lock.json should be unowned so that dependabot can automatically update dependencies

**/package.json
**/package-lock.json
