version: 2

updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "@contentful/app-sdk"
    - dependency-name: "prettier"
    - dependency-name: "serverless"
      versions:
        - ">=3"
  groups:
    production-dependencies:
      applies-to: version-updates
      dependency-type: production
      update-types:
        - minor
        - patch
      patterns:
        - '*'
    dev-dependencies:
      applies-to: version-updates
      dependency-type: development
      update-types:
        - minor
        - patch
      patterns:
        - '*'

  cooldown:
    default-days: 15
- package-ecosystem: npm
  directory: "/apps/ai-image-tagging/lambda"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "serverless"
      versions:
        - ">=3"
  groups:
    production-dependencies:
      applies-to: version-updates
      dependency-type: production
      update-types:
        - minor
        - patch
      patterns:
        - '*'
    dev-dependencies:
      applies-to: version-updates
      dependency-type: development
      update-types:
        - minor
        - patch
      patterns:
        - '*'

  cooldown:
    default-days: 15
- package-ecosystem: npm
  directory: "/apps/slack/lambda"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "serverless"
      versions:
        - ">=3"
  groups:
    production-dependencies:
      applies-to: version-updates
      dependency-type: production
      update-types:
        - minor
        - patch
      patterns:
        - '*'
    dev-dependencies:
      applies-to: version-updates
      dependency-type: development
      update-types:
        - minor
        - patch
      patterns:
        - '*'

  cooldown:
    default-days: 15
- package-ecosystem: npm
  directory: "/apps/jira/functions"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "serverless"
      versions:
        - ">=3"
  groups:
    production-dependencies:
      applies-to: version-updates
      dependency-type: production
      update-types:
        - minor
        - patch
      patterns:
        - '*'
    dev-dependencies:
      applies-to: version-updates
      dependency-type: development
      update-types:
        - minor
        - patch
      patterns:
        - '*'

  cooldown:
    default-days: 15
- package-ecosystem: npm
  directory: "/apps/netlify/lambda"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "serverless"
      versions:
        - ">=3"
  groups:
    production-dependencies:
      applies-to: version-updates
      dependency-type: production
      update-types:
        - minor
        - patch
      patterns:
        - '*'
    dev-dependencies:
      applies-to: version-updates
      dependency-type: development
      update-types:
        - minor
        - patch
      patterns:
        - '*'

  cooldown:
    default-days: 15
- package-ecosystem: npm
  directory: "/examples/typescript"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "emotion"
      versions:
        - ">=11"
  groups:
    production-dependencies:
      applies-to: version-updates
      dependency-type: production
      update-types:
        - minor
        - patch
      patterns:
        - '*'
    dev-dependencies:
      applies-to: version-updates
      dependency-type: development
      update-types:
        - minor
        - patch
      patterns:
        - '*'

  cooldown:
    default-days: 15
- package-ecosystem: npm
  directory: "/examples/javascript"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "emotion"
      versions:
        - ">=11"
  groups:
    production-dependencies:
      applies-to: version-updates
      dependency-type: production
      update-types:
        - minor
        - patch
      patterns:
        - '*'
    dev-dependencies:
      applies-to: version-updates
      dependency-type: development
      update-types:
        - minor
        - patch
      patterns:
        - '*'

  cooldown:
    default-days: 15
- package-ecosystem: npm
  directory: "/examples/function-mock-shop"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "emotion"
      versions:
        - ">=11"
  groups:
    production-dependencies:
      applies-to: version-updates
      dependency-type: production
      update-types:
        - minor
        - patch
      patterns:
        - '*'
    dev-dependencies:
      applies-to: version-updates
      dependency-type: development
      update-types:
        - minor
        - patch
      patterns:
        - '*'

  cooldown:
    default-days: 15
- package-ecosystem: npm
  directory: "/examples/function-potterdb"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "emotion"
      versions:
        - ">=11"
  groups:
    production-dependencies:
      applies-to: version-updates
      dependency-type: production
      update-types:
        - minor
        - patch
      patterns:
        - '*'
    dev-dependencies:
      applies-to: version-updates
      dependency-type: development
      update-types:
        - minor
        - patch
      patterns:
        - '*'

  cooldown:
    default-days: 15
- package-ecosystem: npm
  directory: "/examples/function-potterdb-rest-api"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "emotion"
      versions:
        - ">=11"
  groups:
    production-dependencies:
      applies-to: version-updates
      dependency-type: production
      update-types:
        - minor
        - patch
      patterns:
        - '*'
    dev-dependencies:
      applies-to: version-updates
      dependency-type: development
      update-types:
        - minor
        - patch
      patterns:
        - '*'

  cooldown:
    default-days: 15
- package-ecosystem: docker
  directory: "/apps/slack/lambda/"
  schedule:
    interval: daily
    time: "00:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: build
    include: scope 

- package-ecosystem: docker
  directory: "/apps/google-analytics-4/lambda/"
  schedule:
    interval: daily
    time: "00:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: build
    include: scope 
