version: 2

updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "@contentful/app-sdk"
    - dependency-name: "serverless"
      versions:
        - ">=3"

- package-ecosystem: npm
  directory: "/apps/ai-image-tagging/lambda"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "serverless"
      versions:
        - ">=3"

- package-ecosystem: npm
  directory: "/apps/ai-image-generator"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "sharp"
      versions:
        - ">0.32.6"

- package-ecosystem: npm
  directory: "/apps/ai-image-generator/backend"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "sharp"
      versions:
        - ">0.32.6"

- package-ecosystem: npm
  directory: "/apps/slack/lambda"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "serverless"
      versions:
        - ">=3"

- package-ecosystem: npm
  directory: "/apps/jira/functions"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "serverless"
      versions:
        - ">=3"

- package-ecosystem: npm
  directory: "/apps/netlify/lambda"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "serverless"
      versions:
        - ">=3"

- package-ecosystem: npm
  directory: "/examples/typescript"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "emotion"
      versions:
        - ">=11"

- package-ecosystem: npm
  directory: "/examples/javascript"
  schedule:
    interval: daily
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "emotion"
      versions:
        - ">=11"
