node_modules
.envrc
.DS_Store
build
dist
.cache
.idea
tags
**/.coverage/**
lerna-debug.log
.eslintcache
.tool-versions
.nx
examples/**/package-lock.json
.env
.cursorindexingignore
.specstory
*/example-app
apps-migration-scripts/reports/
apps-migration-scripts/logs/
