domainName: localhost
appConfigs: '[
  {
    "name": "shopify",
    "id": "3KLkNhPCtUvrc5u8MuUqzO",
    "baseUrl": "http://localhost:8080/dev/shopify",
    "privateKey": "-----BEGIN RSA PRIVATE KEY-----\<APP_PRIVATE_KEY_GOES_HERE>\n-----END RSA PRIVATE KEY-----\n",
    "signingSecret": "<APP_SIGNING_SECRET_GOES_HERE>"
  },
  {
    "name": "magento",
    "id": "4KnUs6pawpNLCYNJxtcapl",
    "baseUrl": "http://localhost:8080/dev/magento",
    "privateKey": "-----BEGIN RSA PRIVATE KEY-----\<APP_PRIVATE_KEY_GOES_HERE>\n-----END RSA PRIVATE KEY-----\n",
    "signingSecret": "<APP_SIGNING_SECRET_GOES_HERE>"
  }
]'