version: 2
# Required secret environment variables
# AWS_ACCESS_KEY_ID
# AWS_SECRET_ACCESS_KEY

jobs:
  test:
    docker:
      - image: circleci/node:10-stretch
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            npm i
      - run:
          name: 'Test apps'
          command: npm run test -- --concurrency=2

  deploy:
    docker:
      - image: circleci/node:10-stretch
        environment:
          STATIC_APPS_BUCKET: s3://cf-apps-static
    steps:
      - checkout
      - run:
          name: Install pip
          command: sudo apt-get install python-pip python-dev
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - run:
          name: Install dependencies
          command: |
            npm i
      - run:
          name: 'Deploy apps'
          command: npm run deploy -- --concurrency=1

workflows:
  version: 2
  test-deploy:
    jobs:
      - test
      - deploy:
          filters:
            branches:
              only:
                - master
          requires:
            - test
