version: 2.1

commands:
  publish:
    steps:
      - run:
          name: Setup NPM
          command: |
            echo $'@contentful:registry=https://registry.npmjs.org/
            //registry.npmjs.org/:_authToken=${NPM_TOKEN}' >> ~/.npmrc
      - run: git config --global user.email "prd-dev-workflows+ecosystem-bot@contentful.com"
      - run: git config --global user.name "contentful-ecosystem-bot"
      - run:
          name: Publish packages
          command: npm run publish-packages

  deploy:
    steps:
      - run:
          name: Install pip
          command: sudo apt-get install python3-pip python3-dev
      - run:
          name: Install awscli
          command: sudo pip3 install awscli
      - run:
          name: Deploy apps to test
          command: |
            STATIC_S3_BASE="s3://cf-apps-static-dev/apps-test-$CIRCLE_SHA1" \
                STATIC_JIRA_S3_BASE="s3://cf-apps-static-dev/apps-test-$CIRCLE_SHA1/jira" \
                STAGE='test' npm run deploy
      - run:
          name: Deploy apps to prod
          command: |
            STATIC_S3_BASE="s3://cf-apps-static/apps" \
                STATIC_JIRA_S3_BASE="s3://cf-apps-jira" \
                STAGE='prd' npm run deploy

jobs:
  all:
    docker:
      - image: circleci/node:14-stretch
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            npm i
            npm run bootstrap:ci
      - run:
          name: Lint
          command: npm run lint
      - run:
          name: Build
          command: npm run build
      - run:
          name: Test
          command: npm run test
      - run:
          name: Exit successfully if not in master
          command: |
            if [ "$CIRCLE_BRANCH" != "master" ]; then
                circleci-agent step halt
            fi
      - publish
      - deploy

workflows:
  version: 2
  test-deploy:
    jobs:
      - all
