version: 2.1

commands:
  publish:
    steps:
      - run:
          name: Setup NPM
          command: |
            echo $'@contentful:registry=https://registry.npmjs.org/
            //registry.npmjs.org/:_authToken=${NPM_TOKEN}' >> ~/.npmrc
      - run: git config --global user.email "prd-dev-workflows+ecosystem-bot@contentful.com"
      - run: git config --global user.name "contentful-ecosystem-bot"
      - run:
          name: Publish packages
          command: npm run publish-packages

  deploy:
    steps:
      - run:
          name: Install awscli
          command: |
            sudo apt-get update
            sudo apt-get install python3-pip python3-dev
            sudo pip3 install awscli
      - run:
          name: Deploy apps to test
          command: |
            STATIC_S3_BASE="s3://cf-apps-static-dev/apps-test-$CIRCLE_SHA1" \
                STATIC_JIRA_S3_BASE="s3://cf-apps-static-dev/apps-test-$CIRCLE_SHA1/jira" \
                STAGE='test' npm run deploy:test
      - run:
          name: Deploy apps to prod
          command: |
            STATIC_S3_BASE="s3://cf-apps-static/apps" \
                STATIC_JIRA_S3_BASE="s3://cf-apps-jira" \
                STAGE='prd' npm run deploy
  deploy-test:
    steps:
      - run:
          name: Install awscli
          command: |
            sudo apt-get update
            sudo apt-get install python3-pip python3-dev
            sudo pip3 install awscli
      - run:
          name: Deploy apps to test
          command: |
            STATIC_S3_BASE="s3://cf-apps-static-dev/apps-test-$CIRCLE_SHA1" \
                STATIC_JIRA_S3_BASE="s3://cf-apps-static-dev/apps-test-$CIRCLE_SHA1/jira" \
                STAGE='test' cd apps/netlify/lambda/ && npm run deploy

jobs:
  apps:
    docker:
      - image: cimg/node:14.18
    resource_class: medium+
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            npm i
            npm run bootstrap:ci
      - run:
          name: Lint
          command: npm run lint
      - run:
          name: Build
          command: npm run build
      - run:
          name: Test
          command: npm run test
      - run:
          name: Test deploying netlify lambda
          command: |
            if [ "$CIRCLE_BRANCH" != "netlify-actions" ]; then
                circleci-agent step halt
            fi
      - deploy-test

  test-ts-template:
    docker:
        - image: cimg/node:16.14.0
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: cd templates/typescript && npm i
      - run:
          name: Build
          command: cd templates/typescript && npm run build
      - run:
          name: Test
          command: cd templates/typescript && npm run test

  test-js-template:
    docker:
        - image: cimg/node:16.14.0
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: cd templates/javascript && npm i
      - run:
          name: Build
          command: cd templates/javascript && npm run build
      - run:
          name: Test
          command: cd templates/javascript && npm run test

workflows:
  version: 2
  test-deploy:
    jobs:
      - apps
      - test-ts-template
      - test-js-template
