version: 2.1

orbs:
  node: circleci/node@5.0.2
  vault: contentful/vault@1
  nx: nrwl/nx@1.6.2

commands:
  publish:
    steps:
      - vault/get-secrets:
          template-preset: 'semantic-release-ecosystem'
      - vault/configure-lerna
      - run:
          name: Setup NPM
          command: |
            echo $'@contentful:registry=https://registry.npmjs.org/
            //registry.npmjs.org/:_authToken=${NPM_TOKEN}' >> ~/.npmrc
      - run:
          name: Publish packages
          command: npm run publish-packages

jobs:
  apps-test:
    docker:
      - image: cimg/base:stable
    resource_class: medium+
    steps:
      - checkout
      - node/install
      - vault/get-secrets:
          template-preset: 'aws-push-artifacts'
      - nx/set-shas:
          error-on-no-successful-workflow: true
          main-branch-name: master
      - run:
          name: Check for prettier violations
          command: npx nx affected --target=prettier:check --base=$NX_BASE --head=$NX_HEAD
      - run:
          name: Install dependencies
          command: |
            npm ci
            npm run bootstrap:ci
      - run:
          name: Lint
          command: npm run lint
      - run:
          name: Verify project configurations
          command: npm run verify-config
      - run:
          name: Test
          command: npm run test
      - store_artifacts:
          path: /tmp/artifacts

  build:
    docker:
      - image: cimg/base:stable
    resource_class: medium+
    steps:
      - checkout
      - node/install
      - run:
          name: Install dependencies
          command: |
            npm ci
            npm run bootstrap:ci
      - run:
          name: Build
          command: |
            NODE_ENV='production' \
            npm run build

  deploy-staging:
    docker:
      - image: cimg/base:stable
    resource_class: medium+
    steps:
      - checkout
      - vault/get-secrets:
          template-preset: 'aws-push-artifacts'
      - node/install
      - run:
          name: Install dependencies
          no_output_timeout: 20m
          command: |
            npm ci
            npm run bootstrap:ci-deploy
      - run:
          name: Install awscli
          command: |
            sudo apt-get update
            sudo apt-get install python3-pip python3-dev
            sudo pip3 install awscli
      - run:
          name: Build
          command: |
            REACT_APP_BACKEND_BASE_URL=$BACKEND_BASE_URL_TEST \
            REACT_APP_SLACK_CLIENT_ID=$SLACK_CLIENT_ID_TEST \
            NODE_ENV='staging' \
            npm run build:deploy
      - run:
          name: Deploy apps to staging
          command: |
            STATIC_S3_BASE="s3://cf-apps-static-dev/apps-test-$CIRCLE_SHA1" \
                STATIC_JIRA_S3_BASE="s3://cf-apps-static-dev/apps-test-$CIRCLE_SHA1/jira" \
                REACT_APP_BACKEND_BASE_URL=$BACKEND_BASE_URL_TEST \
                REACT_APP_SLACK_CLIENT_ID=$SLACK_CLIENT_ID_TEST \
                STAGE='test' npm run deploy:test
      - run:
          name: Invalidate Slack staging cloudfront distribution
          command: aws cloudfront create-invalidation --distribution-id $SLACK_TEST_CLOUDFRONT_DIST_ID --paths "/*"

  deploy-prod:
    docker:
      - image: cimg/base:stable
    resource_class: medium+
    steps:
      - vault/get-secrets:
          template-preset: 'aws-push-artifacts'
      - checkout
      - node/install
      - node/install-packages
      - run:
          name: Bootstrap
          no_output_timeout: 20m
          command: |
            npm run bootstrap:ci-deploy
      - run:
          name: Install awscli
          command: |
            sudo apt-get update
            sudo apt-get install python3-pip python3-dev
            sudo pip3 install awscli
      - run:
          name: Build
          command: |
            REACT_APP_BACKEND_BASE_URL=$APP_SLACK_BACKEND_BASE_URL_PROD \
            REACT_APP_SLACK_CLIENT_ID=$SLACK_CLIENT_ID_PROD \
            NODE_ENV='production' \
            npm run build:deploy
      - publish
      - run:
          name: Deploy apps to prod
          command: |
            STATIC_S3_BASE="s3://cf-apps-static/apps" \
                STATIC_JIRA_S3_BASE="s3://cf-apps-jira" \
                REACT_APP_BACKEND_BASE_URL=$APP_SLACK_BACKEND_BASE_URL_PROD \
                REACT_APP_SLACK_CLIENT_ID=$SLACK_CLIENT_ID_PROD \
                STAGE='prd' npm run deploy
      - run:
          name: Post Deploy
          command: npm run post-deploy
      - run:
          name: Sentry Release
          command: npm run sentry-release
      - run:
          name: Invalidate Slack cloudfront distribution
          command: aws cloudfront create-invalidation --distribution-id $SLACK_PRD_CLOUDFRONT_DIST_ID --paths "/*"

  test-ts-example:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - node/install
      - run:
          name: Install dependencies
          command: cd examples/typescript && npm ci
      - run:
          name: Build
          command: cd examples/typescript && npm run build
      - run:
          name: Test
          command: cd examples/typescript && npm run test

  test-js-example:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - node/install
      - run:
          name: Install dependencies
          command: cd examples/javascript && npm ci
      - run:
          name: Build
          command: cd examples/javascript && npm run build
      - run:
          name: Test
          command: cd examples/javascript && npm run test

workflows:
  version: 2
  test-deploy:
    jobs:
      - apps-test:
          context:
            - vault
      - build:
          context:
            - vault
      - deploy-staging:
          context:
            - vault
          requires:
            - build
            - apps-test
          filters:
            branches:
              only:
                - master
                - staging
      - deploy-prod:
          context:
            - vault
          requires:
            - build
            - apps-test
          filters:
            branches:
              only:
                - master
      - test-ts-example
      - test-js-example
