.dropzone {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  min-height: 250px;
  border: 2px dashed #aaa;
  border-radius: 12px;
  background: #fff;
}

.title {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.or {
  margin: 1.5em 0 1em 0;
  font-size: 1.3rem;
  color: #444;
}

.uploadButton {
  font-size: 1.2rem;
  padding: 0.8em 2em;
  border: 2px solid #222;
}

.muxUploaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  min-height: 250px;
}
