name: Deploy App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Code Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: node modules caches
        uses: actions/cache@v2
        id: nodeCache
        with:
          path: node_modules
          key: node-caches-${{ hashFiles('package-lock.json') }}

      - name: Setup GCP Service Account
        uses: google-github-actions/setup-gcloud@master
        with:
          version: 'latest'
          service_account_email: ${{ secrets.GCP_GITHUB_SERVICE_ACCOUNT_EMAIL }}
          service_account_key: ${{ secrets.GCP_GITHUB_SERVICE_ACCOUNT_KEY }}
          export_default_credentials: true

      - name: Define Variables
        run: |
          echo "GITHUB_SHA=${GITHUB_SHA::5}" >> $GITHUB_ENV

      - name: Install Node Dependencies
        if: steps.nodeCache.outputs.cache-hit != 'true'
        run: |
          npm ci

      - name: Build and Deploy
        run: |
          npm run build
          gsutil cp -r build gs://pts-sap-commerce-contentful-app/${{ env.GITHUB_SHA }}
