service: sls-apps-google-analytics-4

frameworkVersion: '>=3.0.0 <4.0.0'

plugins:
  - serverless-domain-manager
  - serverless-offline

custom:
  sentryDSN: https://b8f524eae7c446fb8071476431426640@o2239.ingest.sentry.io/4504725335834624
  signingSecret: ${file(./config/serverless-env.${opt:stage, 'dev'}.yml):signingSecret}
  customDomain:
    domainName: ${file(./config/serverless-env.${opt:stage, 'dev'}.yml):domainName}
    stage: ${opt:stage, 'dev'}
    createRoute53Record: true
    endpointType: 'edge'
    securityPolicy: tls_1_2
  serverless-offline:
    httpPort: 8080
    host: 0.0.0.0
  dynamoDbEndpoint: http://dynamodb:8000
  dynamoDbtableName: sls-apps-ga4-backend-${opt:stage, 'dev'}-SharedCredentialsTable
  dynamoDbSharedCredentialsSecretKey: ${file(./config/serverless-env.${opt:stage, 'dev'}.yml):dynamoDbSharedCredentialsSecretKey}

provider:
  name: aws
  runtime: nodejs18.x
  stage: ${opt:stage, 'dev'}
  region: 'us-east-1'
  timeout: 30
  deploymentBucket:
    name: cf-apps-serverless-deployment
  deploymentPrefix: sls-apps-google-analytics-4
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource:
            - Fn::GetAtt: [SharedCredentialsTable, Arn]
  environment:
    DYNAMODB_ENDPOINT: ${self:custom.dynamoDbEndpoint}
    DYNAMODB_TABLE_NAME: ${self:custom.dynamoDbtableName}
    SHARED_CREDENTIALS_SECRET_KEY: ${self:custom.dynamoDbSharedCredentialsSecretKey}

functions:
  api:
    description: GA4 App Backend
    environment:
      SIGNING_SECRET: ${self:custom.signingSecret}
      SENTRY_DSN: ${self:custom.sentryDSN}
      STAGE: ${opt:stage, 'dev'}
      NODE_ENV: ${env:NODE_ENV, 'development'}
      RELEASE_VERSION: ${env:CIRCLE_SHA1, 'undefined'}
      DYNAMODB_ENDPOINT: ${self:custom.dynamoDbEndpoint}
      DYNAMODB_TABLE_NAME: ${self:custom.dynamoDbtableName}
      SHARED_CREDENTIALS_SECRET_KEY: ${self:custom.dynamoDbSharedCredentialsSecretKey}
    handler: build/src/index.handler
    events:
      - http:
          path: /{any+}
          method: ANY

resources:
  Resources:
    SharedCredentialsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.dynamoDbtableName}
        AttributeDefinitions:
          - AttributeName: sharedCredentialsId
            AttributeType: S
        KeySchema:
          - AttributeName: sharedCredentialsId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
