service: sls-apps-google-analytics-4
frameworkVersion: '3'

plugins:
  - serverless-domain-manager
  - serverless-offline

customParams: ${file(./config/serverless-env.${opt:stage, 'dev'}.yml)}

custom:
  customDomain:
    domainName: ${self:customParams.DOMAIN_NAME}
    stage: ${opt:stage, 'dev'}
    createRoute53Record: true
    endpointType: 'edge'
    securityPolicy: tls_1_2
  serverless-offline:
    httpPort: 8080

provider:
  name: aws
  runtime: nodejs18.x
  stage: ${opt:stage, 'dev'}
  region: 'us-east-1'
  timeout: 30
  deploymentBucket:
    name: cf-apps-serverless-deployment
  deploymentPrefix: sls-apps-google-analytics-4

functions:
  api:
    description: GA4 App Backend
    environment:
      SIGNING_SECRET: ${self:customParams.SIGNING_SECRET}
      STAGE: ${opt:stage, 'dev'}
    handler: build/src/index.handler
    events:
      - http:
          path: /{any+}
          method: ANY