service:
  name: sls-apps-ai-image-tagging

frameworkVersion: '>=1.0.0 <2.0.0'

plugins:
  - serverless-domain-manager

custom:
  tableName: ${opt:stage, self:provider.stage}-AiImageTaggingUsage
  customDomain:
    domainName: ai-image-tagging.ctfapps.net
    stage: prd
    createRoute53Record: true
    endpointType: 'edge'
    securityPolicy: tls_1_2

provider:
  name: aws
  runtime: nodejs10.x
  stage: ${opt:stage, 'dev'}
  region: 'us-east-1'
  deploymentBucket:
    name: cf-apps-serverless-deployment
  deploymentPrefix: sls-apps-ai-image-tagging
  iamRoleStatements:
    - Effect: "Allow"
      Action:
       - rekognition:DetectLabels
      Resource: "*"
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
      Resource:
        - "Fn::GetAtt": [ UsageTable, Arn ]

package:
  exclude:
    - node_modules/ai-image-tagging-frontend/node_modules/**

functions:
  app:
    handler: index.handler
    environment:
      TABLE_NAME: ${self:custom.tableName}
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY

resources:
  Resources:
    UsageTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.tableName}
        AttributeDefinitions:
          - AttributeName: period
            AttributeType: S
          - AttributeName: spaceId
            AttributeType: S
        KeySchema:
          - AttributeName: period
            KeyType: HASH
          - AttributeName: spaceId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
