service: sls-apps-ai-image-tagging

frameworkVersion: '>=3.0.0'

plugins:
  - serverless-domain-manager

custom:
  tableName: sls-${opt:stage, self:provider.stage}-AiImageTaggingUsage
  customDomain:
    domainName: ai-image-tagging.ctfapps.net
    stage: prd
    createRoute53Record: true
    endpointType: 'edge'
    securityPolicy: tls_1_2

provider:
  name: aws
  runtime: nodejs18.x
  stage: ${opt:stage, 'test'}
  region: 'us-east-1'
  deploymentBucket:
    name: cf-apps-serverless-deployment
  deploymentPrefix: sls-apps-ai-image-tagging
  iam:
    role:
      statements:
        - Effect: 'Allow'
          Action:
            - rekognition:DetectLabels
          Resource: '*'
        - Effect: Allow
          Action:
            - dynamodb:DescribeTable
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
          Resource: 'arn:aws:dynamodb:*:*:table/sls*' # TODO limit to the usage table
    #         - "Fn::GetAtt": [ UsageTable, Arn ]

package:
  patterns:
    - '!node_modules/@contentful/ai-image-tagging-frontend/node_modules/**'

functions:
  app:
    handler: index.handler
    environment:
      TABLE_NAME: ${self:custom.tableName}
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY
# resources:
#   Resources:
#     UsageTable:
#       Type: AWS::DynamoDB::Table
#       Properties:
#         TableName: ${self:custom.tableName}
#         AttributeDefinitions:
#           - AttributeName: spaceId
#             AttributeType: S
#           - AttributeName: period
#             AttributeType: N
#         KeySchema:
#           - AttributeName: spaceId
#             KeyType: HASH
#           - AttributeName: period
#             KeyType: RANGE
#         BillingMode: PAY_PER_REQUEST
