# Content Management API token
# Get this from: https://app.contentful.com/spaces/{SPACE_ID}/api/keys
CONTENTFUL_ACCESS_TOKEN=your_content_management_api_token_here

# Your Contentful Space ID
# Found in the URL when you're in your Contentful space
SPACE_ID=your_space_id_here

# Your Contentful Environment ID
# Usually 'master' for production, or your custom environment name
ENVIRONMENT_ID=master

# Your Contentful Organization ID
# Found in the URL when you're in your organization settings
CONTENTFUL_ORG_ID=your_organization_id_here

# Your Contentful App Definition ID
# Found under the title from the app definition in contentful
CONTENTFUL_APP_DEF_ID=yout_app_definition_id