{
  "arrowParens": "always",
  "semi": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
