html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#root {
  display: flex;
  justify-content: center;
}

.page {
  width: 100%;
  max-width: 690px;
}

.cr-pointer {
  cursor: pointer;
}

.entity-loading {
  max-height: 72px;
}
